/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* This is a divider for my work and reset values*/




body{
    background: linear-gradient(75deg, #ffb400 22% , #111111 10% );
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  
}


.flex-container{
   display: flex;
   justify-content: space-between;
   flex-direction: row; 
   padding: 25px;
   margin-top: 20px;
}   


button{
    background-color: #111111;
    color: whitesmoke;
    border-radius: 40px;
    border-color: #ffb400;
    width: 215px;
    padding: 8px;
    font-family:Poppins, sans-serif; ;
    font-weight: 600;
}

button:hover{
    background-color:#ffb400;
}

p{
  color: whitesmoke;  
  font-size: 16px;
  font-family: poppins;
  line-height: 35px;
 

 
}

h1{

    text-align: start;
    line-height: 55px;
    font-size: 40px;
    font-family: Poppins, sans-serif;
    margin-left: 20px;
   

    
}
#text-color{
color: #ffb400;
font-size: 51px;

}

img{
   height: 600px;
   width: 500px;    
   object-fit: cover;
   border-radius: 40px;
}
/*.icon-size img{
    display: flex;
    flex-direction: column; 
    line-height: 200px;
    margin-top: 50px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: grey;
    padding: 2px;
  
    
}*/

#text-center{
    margin-top: 120px;
}

.icon{
    background-color: rgb(62, 62, 62);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}
  
a{
    color: white;
}

#vertical-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
 
   
}

.icon:hover{
    background-color: #ffb400;
}

